.add-server {
	width: 400px;
	padding: 10px;
	.normal-form {
		margin: 10px 0px;
		min-height: 200px;

		> div {
			margin: 5px 0;
		}

		> .add-input-box {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 100%;
			padding: 10px 5px;
			border: 1px solid #eeeeee;

			.add {
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.input {
				width: 80%;
				> div {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.button-box {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		button {
			margin-right: 10px;
		}
		margin-top: 10px;
	}
}
