html {
	overflow: hidden;
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	padding: 0;
	margin: 0;

}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: whitesmoke;
	-webkit-user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	width: 100vw;
	height: 100vh;
}

.load-mask-child {
	width: 37px;
	height: 37px;
	background: url(./app/loading-1.gif);
}

::-webkit-scrollbar {
	width: 3px;
	height: 16px;
	/* background-color: #f5f5f5; */
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 3); */
	border-radius: 0px;
	/* background-color: #f5f5f5; */
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/* background-color: #555; */
}
