.key-tree {
	// background: #ffffff;
	position: relative !important;
	height: 100%;
	border: 1px solid #dddddd;

	.select-panel {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		height: 42px;
		width: 100%;
		padding: 5px;
	}

	.data-tree {
		height: calc(100% - 84px);
		overflow-y: auto;
		width: 100%;

		.css-1up7t0w {
			background-color: transparent;
		}
	}

	.title {
		height: 42px;
		width: 100%;
		> div {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 5px;
			border-top: 1px solid #eeeeee;
		}
	}
}

.ant-tree .ant-tree-treenode {
	padding: 0;
}

.ant-tree .ant-tree-node-content-wrapper {
	padding: 0;
}

.ant-tree .ant-tree-switcher-noop {
	display: none;
}

.css-1u94gzr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.css-80f7ae {
	color: rgba(0, 0, 0, 0.65) !important;
}
