.add-key {
	.select-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.input-box-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;

		> .top {
			width: 100%;
		}

		> .bottom {
			width: 100%;
		}
	}

	.input-box-3 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;

		> .top {
			width: 100%;
		}

		> .bottom {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			> input {
				width: 49.5%;
			}
		}
	}

	.button-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 20px;
		button {
			margin: 0 20px;
		}
	}
}
