.add-key {
	.select-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		.ant-radio-group {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;

			.ant-radio-button-wrapper {
				width: 20%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.input-box-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;

		> .top,
		.bottom > .ant-input-group-wrapper {
			margin-top: 10px;

			.ant-input-group-addon {
				width: 80px;
			}
		}

		> .top {
			width: 100%;
		}

		> .bottom {
			width: 100%;
		}
	}

	.input-box-3 {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;

		> .top,
		.bottom > .ant-input-group-wrapper {
			margin-top: 10px;

			.ant-input-group-addon {
				width: 80px;
			}
		}

		> .top {
			width: 100%;
		}

		> .bottom {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			> input {
				width: 49.5%;
			}
		}
	}

	.button-box {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 20px;
		button {
			margin: 0 20px;
		}
	}

	.ant-input:hover {
		border: 1px solid #d9d9d9 !important;
	}

	.ant-input:focus,
	.ant-input-focused {
		border: 1px solid #d9d9d9 !important;
		outline: none;
		-webkit-box-shadow: unset;
		box-shadow: unset;
	}
}
