.header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	> .app-bar {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 42px;
		flex-direction: row;

		z-index: 0;

		.left {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}

		.right {
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}
}
