.server-list {
	.db-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.button {
			button {
				padding: 4px;
			}
		}
	}
}
.choose-server {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	.ant-modal-content {
		width: 60%;
	}

	.ant-modal-body {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
}
